{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("../../css/searchBar.css") }}">
    <link rel="stylesheet" href="{{ asset("../../css/homepage.css") }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/deleteAlert.js') }}" defer></script>
{% endblock %}


{% block title %}Gestion Services{% endblock %}

{% block body %}
    {% include 'composants/header.html.twig' %}
    {% include 'composants/searchBarHospital.html.twig' %}

    <div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Services</th>
            <th scope="col">Nombre de lits</th>
            <th scope="col" class="text-center">Commandes</th>
          </tr>
        </thead>
        <tbody>

        {% set num = 0 %}

        {% for service in services %}
            {% set num = num + 1 %}
              <tr>
                <th scope="row">{{ num }}</th>
                <td>{{ service.name }}</td>
                <td>{{ service.bed }}</td>
                <td>
                    <a href="{{ path( 'manageService',  {'id': service.id, "name" : service.name} ) }}" class="btn btn-primary w-100">Gérer</a>
                    <a href="{{ path( 'updateService',  {'id': service.id} ) }}" class="btn btn-info mt-3 w-100">Modifier</a>
                    <a href="{{ path( 'delService',  {'id': service.id} ) }}" class="btn btn-danger delete mt-3 w-100">Supprimer</a>
                </td>
              </tr>
        {% endfor %}
            </tbody>
        <tfoot>
        <tr>
            <td colspan="11">
                <a href="{{ path('addService') }}" class="btn btn-primary w-100 add">Ajouter un service</a>
            </td>
        </tr>
        </tfoot>
    </table>
    </div>
    {{ knp_pagination_render(services) }}

    <div class="modal" tabindex="-1" id="modalDeleteAlert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attention</h5>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sûre de vouloir supprimer ce service ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modalAlertNon">Non</button>
                    <button type="button" class="btn btn-primary" id="modalAlertOui">Oui</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
