{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="../../css/searchBar.css">
    <link rel="stylesheet" href="../../css/homepage.css">
{% endblock %}


{% block title %}Gestion Services{% endblock %}

{% block body %}
    {% include 'composants/header.html.twig' %}
    {% include 'composants/searchBar.html.twig' %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Services</th>
            <th scope="col">Nombre de lits</th>
            <th scope="col">Commandes</th>
          </tr>
        </thead>

        {% set num = 0 %}

        {% for service in services %}
            {% set num = num + 1 %}
            <tbody>
              <tr>
                <th scope="row">{{ num }}</th>
                <td>{{ service.name }}</td>
                <td>{{ service.bed }}</td>
                <td>
                    <a href="{{ path( 'manageService',  {'id': service.id, "name" : service.name} ) }}" class="btn btn-primary">Gérer</a>
                    <a href="{{ path( 'updateService',  {'id': service.id} ) }}" class="btn btn-info">Modifier</a>
                    <a href="{{ path( 'delService',  {'id': service.id} ) }}" class="btn btn-danger">Supprimer</a>   
                </td>
              </tr>
            </tbody>
        {% endfor %}
    </table>
    {{ knp_pagination_render(services) }}
    <div class="card ml-2 mr-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Ajouter un service</h5>
            <a href="{{ path('addService') }}" class="btn btn-primary">Ajouter</a>
        </div>
    </div>

{% endblock %}