{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="../../css/searchBar.css">
    <link rel="stylesheet" href="../../css/homepage.css">
{% endblock %}


{% block title %}Gestion {{ service }} {% endblock %}

{% block body %}
    {% include 'composants/header.html.twig' %}
    {% include 'composants/searchBar.html.twig' %}


    {% if rooms| length == 0  %}
        <p>Ce service n'a pas encore de chambre</p>
    {% else  %}

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Numéro de chambre</th>
            <th scope="col">Nombre de lits</th>
            <th scope="col">Commandes</th>
          </tr>
        </thead>

        {% for room in rooms %}
                <tbody>
                  <tr>
                    <td>{{ room.number }}</td>
                    <td>{{ room.countBed }}</td>
                    <td>
                        <a href="{{ path( 'addBed',  {'id': id, "name" : service, "room" : room.id} ) }}" class="btn btn-primary">Ajouter un lit</a>
                        <a href="{{ path( 'removeBed',  {'id': id, "name" : service, "room" : room.id} ) }}" class="btn btn-warning">Retirer un lit</a>
                        <a href="{{ path( 'updateRoom',  {'id': id, "name" : service, "room" : room.id} ) }}" class="btn btn-info">Modifier</a>
                        <a href="{{ path( 'delRoom',  {'id': id, "name" : service, "room" : room.id} ) }}" class="btn btn-danger">Supprimer</a>   
                    </td>
                  </tr>
                </tbody>
            
        {% endfor %}
        {{ knp_pagination_render(rooms) }}
        </table>
        <div class="card ml-2 mr-2" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">Ajouter une chambre</h5>
              <a href="{{ path( 'addRoom',  {'id': id, "name" : service} ) }}" class="btn btn-primary">Ajouter</a>
          </div>
        </div>

    {% endif %}

{% endblock %}