{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("css/searchBar.css")}}">
    <link rel="stylesheet" href="{{asset("css/homepage.css")}}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/deleteAlert.js') }}" defer></script>
{% endblock %}


{% block title %}Accueil{% endblock %}

{% block body %}
    {% include 'composants/header.html.twig' %}
    {% include 'composants/searchbarStaff.html.twig' %}

    <div class = "alignCards d-flex flex-wrap">
        {% for staff in staffs %}
            <div class="card mx-2 my-2" style="width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ staff.firstName }} {{ staff.lastName }}</h5>
                    <p class="card-text"><a class ="font-weight-bold">Rôle :<br></a> {% if staff.roles[0] == "ROLE_ADMIN" %} Administrateur {% else %} Personnel {% endif %}</p>
                    <a href="{{ path( 'updateStaff',  {'id': staff.id} ) }}" class="btn btn-primary w-100 mb-2"><i class="fas fa-user-edit"></i> Détails</a>
                    <a href="{{ path( 'delStaff',  {'id': staff.id} ) }}" class="btn btn-danger w-100 mb-2 delete"><i class="fas fa-user-slash"></i> Supprimer</a>
                </div>
            </div>
        {% endfor %}
        <div class="card ml-2 mr-2 d-flex flex-column" style="width: 18rem;">
            <div class="card-body text-center d-flex flex-column">
                <div style="font-size: 17.8px;">
                    <a href="{{ path( 'createNewStaffMember') }}"><i class=" my-5 fas fa-user-plus fa-6x"></i></a>
                </div>
            </div>
        </div>

    </div>

    {{ knp_pagination_render(staffs) }}

    <div class="modal" tabindex="-1" id="modalDeleteAlert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attention</h5>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sûre de vouloir supprimer ce salarié ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modalAlertNon">Non</button>
                    <button type="button" class="btn btn-primary" id="modalAlertOui">Oui</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
