{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="../css/searchBar.css">
    <link rel="stylesheet" href="../css/homepage.css">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/deleteAlert.js') }}" defer></script>
    <script src="{{ asset('js/addAlert.js') }}" defer></script>
{% endblock %}


{% block title %}Séjours{% endblock %}

{% block body %}
    {% include 'composants/header.html.twig' %}
    {% include 'composants/searchbarStay.html.twig' %}




    <table class="table">
        <thead>
        <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Service</th>
            <th scope="col">Chambre</th>
            <th scope="col">Lit</th>
            <th scope="col">Date d'entré</th>
            <th scope="col">Date de sortie</th>
            <th scope="col">Durée du séjour</th>
            <th scope="col">Date de création</th>
            <th scope="col">Commandes</th>

        </tr>
        </thead>

        {% set num = 0 %}

        {% for stay in stays %}
            {% set num = num + 1 %}
            <tbody>
            <tr>
                <th scope="row">{{ num }}</th>
                <td>{{ stay.lastname }}</td>
                <td>{{ stay.firstname }}</td>
                <td>{{ stay.serviceName }}</td>
                <td>{{ stay.roomNumber }}</td>
                <td>{{ stay.bedNumber }}</td>
                <td>{{ stay.entryDate|date('d/m/Y H:i') }}</td>
                <td>{{ stay.leaveDate|date('d/m/Y H:i') }}</td>
                <td>{{ stay.duration }}</td>
                <td>{{ stay.creationDate|date('d/m/Y H:i') }}</td>
                <td>
                    <a href="{{ path( 'updateStay',  {'id': stay.id, 'serviceId': stay.serviceId} ) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path( 'delStay',  {'id': stay.id} ) }}" class="btn btn-info delete">Supprimer</a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

    {{ knp_pagination_render(stays) }}

    <div class="card ml-2 mr-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Ajouter un séjour</h5>
            <a href="{{ path('homepagePatient') }}" class="btn btn-primary add">Ajouter</a>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modalDeleteAlert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attention</h5>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sûre de vouloir supprimer ce séjour ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modalAlertNon">Non</button>
                    <button type="button" class="btn btn-primary" id="modalAlertOui">Oui</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modalAddAlert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Information</h5>
                </div>
                <div class="modal-body">
                    <p>Le patient existe t-il déjà ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modalAddAlertNon">Non</button>
                    <button type="button" class="btn btn-primary" id="modalAddAlertOui">Oui</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
